

.App {
  text-align: center;
  display: flex;
  font-family: 'sans-serif';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  padding: 0.5rem 2;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-style: italic;
  background: cornflowerblue;
}
.hidden {
  transform: translate(0, -2.25rem);
}
nav a {
  margin-right: 1rem;
  font-weight: normal;
}
.brand {
  margin-left: 1rem;
  font-weight: bold;
  color: white;
}


.App-header {
  background-color:cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'sans-serif';
  font-size: calc(20px + 2vmin);
  font-style: italic;
  margin-left: 1rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  flex-direction: row;
  font-weight: bolder;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
